@tailwind base;
@tailwind components;
@tailwind utilities;

nav {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 5px;
  height: 5px;
}

::-webkit-scrollbar-track {
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: #4e4e6eaf;
  -webkit-box-shadow: 0 0 1px #ffffff;
}
