---
import Nav from "./components/Nav";
import MainLayout from "../layouts/main-layout.astro";
---

<MainLayout title="Digial Artist">
  <h1>Hello There</h1>
  <a href="/about">About</a>
</MainLayout>
