*{
  margin: 0;
  padding: 0;
}

.App{
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  overflow: hidden;
  gap: 3rem;
}

.button{
  margin: 1rem;
  padding: 0.2rem 0.5rem;
}